<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS login</title>
</head>
<body>
    <h2>EJS login parameter</h2>
    <p>아이디 : <%=userid%></p>
    <p>비밀번호 : <%=userpw%></p>
</body>
</html>